<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:index' %}">GamingRigs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">

            <form method="get" action="{% url 'items:search_results' %}" class="d-flex ms-2">
                <input class="form-control form-control-sm me-sm-2" name="q" type="search" placeholder="Search">
                <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav me-auto ms-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Category</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'items:products_rig' %}">Rig</a>
                        <a class="dropdown-item" href="{% url 'items:products_procesor' %}">Procesor</a>
                        <a class="dropdown-item" href="{% url 'items:products_gpu' %}">GPU card</a>
                        <a class="dropdown-item" href="{% url 'items:products_ram' %}">Ram</a>
                        <a class="dropdown-item" href="{% url 'items:products_motherboard' %}">Motherboard</a>
                        <a class="dropdown-item" href="{% url 'items:products_ssd' %}">SSD</a>
                        <a class="dropdown-item" href="{% url 'items:products_psu' %}">PSU</a>
                        <a class="dropdown-item" href="{% url 'items:products_tower' %}">Tower</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'items:products_all' %}">All</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Custom Rig</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link">Hello, {{ user.username }}</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:view_cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-light me-2" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{% url 'accounts:signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>