{% extends 'base.html' %}

{% block title %}
{{item.model}}
{% endblock %}

{% block content %}
<div class="container d-flex">
    <div class="container col-7">
        <img src="{{ item.image.url }}" class="card-img-top">
    </div>
    <div class="container col-3">
        <div class="card text-center">
            <div class="card-header">
                {{item.brand}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.model}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text">Quantity: {{item.stock}}</p>
                <p class="card-text">Price: ${{item.price}}</p>
                <form method="POST" action="{% url 'cart:add_to_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" class="form-control" name="quantity" value="1" min="1">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}